<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/user_base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Add Contact</title>
</head>
<body>
	<section>



			<div class="container-fluid mt-1">

				<div class="row">

					<div class="col-md-8 offset-md-2">

						<div class="card mb-4 pt-4 pb-4">
						
						<h1 class="text-center mt-2">Add Contact</h1>

						<form action="#"
							  th:object="${contact}"
							  
							  method="POST"
							  th:action="@{/user/process-contact}"
							  class="mt-2 pl-5 pr-5">
						
						<!-- Name -->
						<div class="input-group mt-3">
						
        					<div class="input-group-prepend">
        					
          						<div class="input-group-text "><i class="fa fa-plus"></i></div>
          						
        					</div>
        						<input required name="name" type="text" class="form-control" id="firstName" placeholder="Enter Name">
      					</div>

						
						<!-- Nickname -->
						<div class="input-group mt-3">
						
        					<div class="input-group-prepend">
        					
          						<div class="input-group-text "><i class="fas fa-user-alt"></i></div>
          						
        					</div>
        						<input required name="nickName" type="text" class="form-control" id="nickName" placeholder="Enter Nickname">
      					</div>
						
						
						<!-- Phone -->
						<div class="input-group mt-3">
						
        					<div class="input-group-prepend">
        					
          						<div class="input-group-text "><i class="fa fa-phone"></i></div>
          						
        					</div>
        						<input required name="phone" type="text" class="form-control" id="phone" placeholder="Enter Phone No.">
      					</div>
						
						
						<!-- Email -->
						<div class="input-group mt-3">
						
        					<div class="input-group-prepend">
        					
          						<div class="input-group-text ">@</div>
          						
        					</div>
        						<input required name="email" type="text" class="form-control" id="email" placeholder="Enter Email">
      					</div>
						
						
						<!-- Work -->
						<div class="input-group mt-3">
						
        					<div class="input-group-prepend">
        					
          						<div class="input-group-text "><i class="fa fa-briefcase"></i></div>
          						
        					</div>
        						<input required name="work" type="text" class="form-control" id="work" placeholder="Enter Work">
      					</div>
						
						
						<!-- Description -->
						<div class="input-group mt-3">
						
        					<textarea required name="description" id="description" placeholder="Enter Description" rows="6" class="form-control"></textarea>
      					</div>
						
						<div class="container text-center mt-3">
						
						<button class="btn bg-primry">Save Contact</button>
						
						</div>
						
						
						</form>

					</div>

				</div>

			</div>

		</div>
			<script>
	$(document).ready(()=>{
	$(".item").removeClass("active");
	$("#add-link").addClass("active");
	});
	</script>

	</section>
	
</body>
</html>