body {
	background: #e2e2e2 !important;
}

.bg-primry,.input-group-text,.active {
	background: #0072ff;
	color:#ffffff !important;
}

.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
		url(../img/home-banner.jpg);
	background-size: cover;
	color: white;
}

button:hover {
	color:#ffffff;
	background:#0CAFFF;
	transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	transition: all .4s ease-in-out;
}

.my-card {
	padding: 20px;
	background: #ffffff;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	max-height: 420px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

#login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link
	{
	margin-top: -85px;
}

/* sidebar style */

@media only screen and (max-width:600px) {

.sidebar {
	width: 80% !important;
	background: #ffffff;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
}

.content {
	margin-left: 0% !important;
}
}

.sidebar {
	width: 18%;
	background: #ffffff;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index:999;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: #808080;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .divider, #partition{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top:10px
}

.content {
	margin-left: 20%;
}

.sidebar .closeBtn{
	position: absolute;
	top:0;
	right:35px;
	font-size:36px;
	cursor:pointer;
}

.dashboard_img{
	height:200px; 
	width:200px;
	object-fit: cover;
}

/* Search Style */

.search-container{
	position:relative;
}
.search-result{
	position:absolute;
	background:#ffffff;
	color:#0072ff;
	width:100%;
	padding:10px;
	border:1px solid grey;
	display:none;
}


#hamburger{
	cursor:pointer;
}

#trash{
	color:red;
}

#user-edit{
	color: #0072ff;
}
