<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About</title>
</head>
<body>
	<section>
	<div class="container-fluid mt-5">

			<div class="row">

				<div class="col-md-10 offset-md-1">

					<div class="card text-center mb-4 pl-1 pr-1 pt-4">

						<div class="container text-center">
						<img 
						class="dashboard_img"						
						src="" 
						th:src="@{../img/dashboard_pic.png}" 
						alt="#Dashboard"/>
						</div>
						
						<h2 class="text-center mt-3 text-secondary font-italic font-weight-light">Start Adding Your Contacts.</h2>
										
						<div class="container text-center p-5">
						<a href="#" th:href="@{/signin/}" class="btn btn-outline-primary m-1">Login</a>
						<a href="#" th:href="@{/signup/}" class="btn btn-outline-primary m-1">Sign Up</a>
						</div>
						
					</div>
					
										
				</div>
				
			</div>
			
		</div>				

	</section>
</body>
</html>